.playlistCard {
  max-width: 250px;
  margin: 0.3em;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-out;
  justify-content: center;
  text-align: center;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;

  background-color: #112637;
  border: 0.3em solid #000000;
}
.playlistImg {
  width: 100%;
  padding: 8%;
  border-radius: 0.5em;
  border-radius: 50%;
}

.playlistCard:hover {
  transform: scale(1.05);
  box-shadow: 0 0 0.8em rgba(0, 0, 0, 0.7);
}

.playlistText {
  padding: 0.5em;
  background-color: #bcabae;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  text-align: center;
  width: 100%;
  text-wrap: wrap;
}
.playlistList {
  color: #011627;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #6c8ead;
}
.playlistButton {
  text-decoration: none;
  border-radius: 0.5em;
  border: none;
  background-color: #bcabae;
  color: #246eb9;
  transition: 0.5s;
}

.playlistButton:hover {
  color: #011627;
  transform: scale(1.15);
}

body {
  background-color: #011627;
}
